ul,ol{
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body{
    font-family: "Roboto", sans-serif;
}
.menu-link:hover,
.menu-link:focus{
    color: #9747FF
}
.menu-contacts:hover,
.menu-contacts:focus{
    color: #9747FF
}
